@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  margin: 0;
}

.container {
  width: 992px;
  margin: auto;
  padding: 30px 0 55px 0;
}
@media screen and (max-width: 992px) {
  .container {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.bloc_page {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.9em;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 900;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2.1em;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.9em;
  }
}

.intro-text__description {
  font-size: 1.1em;
  font-weight: 300;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

.steps i {
  font-size: 1.2em;
}
.steps__descrip {
  font-size: 1.1em;
  font-weight: 500;
}

.rest-card__tag {
  font-weight: 600;
}
.rest-card__text-descrip p {
  font-weight: 300;
}

.footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
}

.list__link a {
  font-size: 1.1em;
}
.list__link--bold {
  font-weight: 500;
}
.list__link--light {
  font-weight: 300;
}

.course__name {
  font-size: 1.3em;
  font-weight: 300;
}

.dish__name-title {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5em;
}
.dish__name-descrip {
  font-weight: 300;
}

.dish__price {
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, 65%, #9356DC);
  box-shadow: 0px 6px 10px #dbdada;
  transition: background 500ms, box-shadow 800ms;
}
.btn:hover {
  background: linear-gradient(175deg, #ff93e1, 70%, #a16be0);
  box-shadow: 1px 5px 4px #cecdcd;
}
.btn--order {
  padding: 15px 60px;
}

.spin-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  animation: loader 0.1s both;
  animation-delay: 3s;
}
.spin-wrapper .spinner {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.spin-wrapper .spinner::before, .spin-wrapper .spinner::after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.spin-wrapper .spinner::before {
  border-top-color: #FF79DA;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  animation: spin 3s linear infinite;
}
.spin-wrapper .spinner::after {
  border-top-color: #99E2D0;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.heart {
  display: flex;
  position: relative;
  cursor: pointer;
}
.heart svg {
  overflow: visible;
  width: 25px;
}
.heart-main {
  fill: transparent;
  stroke: #000;
  stroke-width: 3px;
}
.heart-bg {
  position: absolute;
  top: 0;
  left: 0;
  fill: url(#grad1);
  stroke: url(#grad1);
  stroke-width: 3px;
  opacity: 0;
}
.heart:hover .heart-bg {
  animation: animate-heart 1s ease-in-out both;
}

#deg1 {
  stop-color: #9356DC;
  stop-opacity: 1;
}

#deg2 {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

@keyframes animate-heart {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header {
  border-bottom: 1px solid #dbdada;
  box-shadow: 1px 2px 4px #dbdada;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.header__arrow {
  position: absolute;
  left: 5%;
  top: 35%;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}
.header__arrow:hover {
  color: #9356DC;
  transition: color 500ms;
}
.header__logo {
  margin: auto;
}

.footer {
  background-color: #353535;
  color: #fff;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .footer > .container {
    align-items: flex-start;
    padding: 30px 20px;
  }
}
.footer__heading {
  margin: 0;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .list {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .list {
    text-align: left;
    flex-direction: column;
    width: 100%;
  }
}
.list--bottom {
  margin-top: 0;
}
.list__link {
  padding: 5px 0;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .list__link {
    width: 100%;
  }
  .list__link--light:last-child {
    padding-bottom: 0;
  }
}
.list__link a {
  text-decoration: none;
  color: #fff;
  transition: color 400ms;
}
.list__link a:hover {
  color: #9356DC;
}
.list__link a .fa-utensils {
  font-size: 0.9em;
  margin-right: 13px;
}
.list__link a .fa-hands-helping {
  font-size: 0.8em;
  margin-right: 8px;
}

.intro {
  background-color: #f6f6f6;
  position: relative;
  z-index: 1;
}
.intro > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .intro > .container {
    padding: 0;
  }
}
.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .intro-text {
    padding: 20px 35px 40px 35px;
  }
}
.intro-text__heading {
  margin-bottom: 0;
}
.intro-text__btn {
  padding: 20px 0;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 40%;
  padding: 15px;
  background-color: #eaeaea;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .search-bar {
    width: 100%;
    border-radius: 0;
    justify-content: center;
    padding: 15px 0;
  }
}
.search-bar > i {
  width: 8%;
  padding: 0 5px;
  text-align: center;
  font-size: 1.3em;
}
@media screen and (max-width: 767px) {
  .search-bar > i {
    padding: 0;
    width: 20%;
    text-align: right;
    padding-right: 15px;
  }
}
.search-bar input {
  width: 92%;
  border: none;
  outline: none;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  .search-bar input {
    width: auto;
    width: 45%;
  }
}
.search-bar:focus-within {
  border: 1px solid #9356DC;
}
@media screen and (max-width: 767px) {
  .search-bar:focus-within {
    border: none;
  }
}

.process__grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .process__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .process__grid {
    margin-left: 7px;
  }
}

.steps {
  width: 33%;
  margin-right: 40px;
}
@media screen and (max-width: 992px) {
  .steps {
    width: 50%;
    margin: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  .steps {
    width: 96%;
    margin: 10px 0;
  }
}
.steps:last-child {
  margin-right: 0;
}
.steps > a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background: #f6f6f6;
  padding: 8px 0;
  box-shadow: 0px 6px 10px #dbdada;
  transition: background 500ms;
}
.steps > a:hover {
  background: #ece1f9;
}
.steps > a:hover i {
  color: #9356DC;
}
.steps__numb {
  position: relative;
  right: 4%;
  border-radius: 50%;
  background: #9356DC;
  padding: 4px 10px;
  color: #fff;
}
.steps i {
  margin-right: 25px;
  margin-left: 15px;
  color: grey;
}
.steps__descrip {
  color: #000;
}

.rest {
  background: #f6f6f6;
}
.rest-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .rest-grid {
    flex-wrap: wrap;
  }
}

.rest-card {
  width: 25%;
  height: 230px;
  margin-right: 20px;
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 6px 10px #dbdada;
}
@media screen and (max-width: 992px) {
  .rest-card {
    width: 48%;
    margin-right: 0;
    margin-bottom: 35px;
  }
  .rest-card:nth-child(3) {
    margin-bottom: 0;
  }
  .rest-card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .rest-card {
    width: 100%;
    margin: 10px 0;
    height: 260px;
  }
  .rest-card:nth-child(3) {
    margin-bottom: 10px;
  }
}
.rest-card:last-child {
  margin-right: 0;
}
.rest-card > a {
  text-decoration: none;
  height: 100%;
}
.rest-card__tag {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 5px 10px;
  background: #99e2d0;
  color: #008766;
}
.rest-card__image {
  margin: 0;
  height: 70%;
}
.rest-card__image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center bottom;
}
.rest-card__text {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #000;
}
.rest-card__text-descrip {
  width: 85%;
}
.rest-card__text-descrip a {
  text-decoration: none;
  height: 100%;
  color: #000;
}
.rest-card__text-descrip h3 {
  margin: 0;
  line-height: 1.4em;
}
.rest-card__text-descrip p {
  margin: 0;
}
.rest-card__text-icon {
  width: 15%;
}

#special-pos {
  object-position: 50% 60%;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .banner {
    height: 290px;
  }
}
.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%;
}
@media screen and (max-width: 767px) {
  .banner > img {
    object-position: 50% 45%;
  }
}

.menu {
  position: relative;
  background: #f6f6f6;
}
.menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
  top: -35px;
  z-index: 4;
}
.menu > .container {
  padding-top: 0;
  padding-bottom: 80px;
}
.menu__heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .menu__heading {
    justify-content: space-between;
  }
}
.menu__heading h1 {
  margin: 10px 25px 10px 0;
}
@media screen and (max-width: 767px) {
  .menu__heading h1 {
    margin: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .menu__icon {
    padding-right: 15px;
  }
}
.menu__btn {
  text-align: center;
}

.menu-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.course {
  width: 100%;
  padding-bottom: 30px;
}
.course__name {
  text-transform: uppercase;
  position: relative;
}
.course__name::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  height: 5px;
  width: 50px;
  background: #99E2D0;
}
.course__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dish {
  width: 45%;
  background: #fff;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  padding: 20px 20px;
  box-shadow: 0px 6px 10px #dbdada;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.2s linear;
  opacity: 0;
  animation: fade-in 500ms ease-in both;
}
.dish--1 {
  animation-delay: 350ms;
}
.dish--2 {
  animation-delay: 700ms;
}
.dish--3 {
  animation-delay: 1050ms;
}
.dish--4 {
  animation-delay: 1400ms;
}
.dish--5 {
  animation-delay: 1750ms;
}
.dish--6 {
  animation-delay: 2100ms;
}
.dish--7 {
  animation-delay: 2450ms;
}
.dish--8 {
  animation-delay: 2800ms;
}
.dish--9 {
  animation-delay: 3150ms;
}
.dish--10 {
  animation-delay: 3500ms;
}
@media screen and (max-width: 992px) {
  .dish {
    width: 43%;
  }
}
@media screen and (max-width: 767px) {
  .dish {
    width: 100%;
  }
}
.dish::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: right;
  width: 15%;
  height: 100%;
  background: #99E2D0;
  transition: all 0.4s linear 0s;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .dish::after {
    width: 18%;
  }
}
.dish__checked {
  align-self: center;
  font-size: 1em;
  position: absolute;
  right: -15%;
  z-index: 2;
  color: #99E2D0;
  transform: rotate(0deg);
  transition: transform 0.5s linear 0s, right 0.4s linear 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}
@media screen and (max-width: 992px) {
  .dish__checked {
    width: 18%;
    right: -18%;
  }
}
.dish__price {
  flex: 1;
  transition: flex 0.4s linear 0s;
}
.dish__name {
  flex: 11;
  min-width: 0;
}
.dish__name > p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.4s linear 0s;
}
.dish:hover::after {
  transform: scale(1, 1);
}
.dish:hover .dish__price {
  flex: 3;
}
@media screen and (max-width: 992px) {
  .dish:hover .dish__price {
    flex: 4;
  }
}
.dish:hover .dish__checked {
  right: 0%;
  transform: rotate(1turn);
}

.circle {
  background: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
