@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.bloc_page{
    font-family: $font-text;
    font-size: 1em;
}

h1{
    font-family: $font-title;
    font-size: 2em;
    @include mobile{
        font-size: 1.9em;
    }
}

h2{
    font-family: $font-text;
    font-size: 1.8em;
    font-weight: 900;
}

h3{
    font-size: 1.2em;
    font-weight: 700;
}

input{
    font-family: $font-text;
    font-size: 1em;
    font-weight: 500;
}

.header__logo{
    font-family: $font-title;
    font-size: 2.1em;
    font-weight: bold;
    @include mobile{
        font-size: 1.9em;
    }
}

.intro-text{
    &__description{
        font-size: 1.1em;
        font-weight: 300;
    }


}

.btn {
    font-family: $font-text;
    font-size: 1.1em;
    font-weight: 500;
}

.steps{
    & i {
        font-size: 1.2em;
    }
    &__descrip{
        font-size: 1.1em;
        font-weight: 500;
    }
}

.rest-card{
    &__tag{
        font-weight: 600;
    }
    &__text-descrip p{
        font-weight: 300;
    }
}

.footer__heading{
    font-family: $font-title;
    font-size: 1.3em;
}

.list__link {
    & a{
        font-size: 1.1em;
    }
    &--bold{
        font-weight: 500;
    }
    &--light{
        font-weight: 300;
    }
}

.course__name{
    font-size: 1.3em;
    font-weight: 300;
}

.dish__name{
    &-title{
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1.5em;
    }
    &-descrip{
        font-weight: 300;
    }
}

.dish__price{
    font-weight: 600;
}