$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #f6f6f6;
$search-color: #eaeaea;
$shadow-color:#dbdada;

$column: column;

$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

$radius-field: 30px;
$radius-card: 20px;

$num-dish: 10;
$anim-dur: 500ms;
$anim-delay: 350ms;
