.footer{
    background-color: #353535 ;
    color: #fff;
    & > .container{
        @include flex-center;
        padding: 30px 0;
        @include mobile {
            align-items: flex-start;
            padding: 30px 20px;
        }
    }
    &__heading{
        margin: 0;
    }
    &__bloc{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-bottom: 0;

    @include tablet{
        width: 60%;
    }

    @include mobile {
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    &--bottom{
        margin-top:0;
    }
    &__link{
        padding: 5px 0;
        width: 50%;

        @include mobile{
            width: 100%;
            &--light:last-child{
                padding-bottom: 0;
            }
        }
        
        & a{
            text-decoration: none;
            color:#fff;
            transition: color 400ms;
            &:hover{
                color: $primary-color;
            }

            & .fa-utensils{
                font-size: 0.9em;
                margin-right: 13px;
            }
            & .fa-hands-helping{
                font-size: 0.8em;
                margin-right: 8px;
            }
        }
    }
}